.product-container, .client-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products, .clients {
    display: flex;
    max-width: 90vw;
    overflow-x: auto;
}